<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error necessitatibus nesciunt facere corrupti maiores voluptates maxime, sequi voluptatibus incidunt animi natus ab provident eligendi tenetur eius dignissimos laudantium modi quia.</p>
        <a href="https://www.linkedin.com/in/jose-m-caracas-rodriguez-39039253/" class="btn btn-primary btn-lg">Conoce mas...</a>
    </div>
</div>