<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App NodeJS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cumque.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repudiandae molestias ea officiis aliquid doloribus ab dignissimos, molestiae natus praesentium quidem at, asperiores quibusdam in illo et maxime, fugiat corporis.</p> 
    <a href="#" class="btn btn-primary btn-lg">Ingresar</a>
</div>