<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center" >
            <div class="card-header"><h1>Account Login</h1></div>
            <img src="https://i.blogs.es/d6ccbe/dj/840_560.jpg" class="rounded-circle mx-auto d-block m-4 logo" alt="">
            <div class="card-body">
                <form action="/users/singin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" >Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>